doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/lateral.css')
  body
    include nav
    block content